<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ .Content }}
      {{ if .Site.DisqusShortname }}
        <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ccd57a1c1b9515"></script>
